# Ignore objects
*.[oa] 

# Igone Binaries 
rtm_main 
mod_main
dir.* 
dobs.bin
lib/cwp/lib 
lib/cwp/include 
lib/cwp/bin 

# The file containing environment variables 
# Ignore IDE specific files
.vscode/
